{% extends 'practica05/base.html' %}

{% block title %}Car rent Create{% endblock %}

{% block content %}
  <div class="container">
    <br>
    <div class="alert alert-warning" role="alert">
      <div class="font-weight-bold">{{ message }}</div>
    </div>
    <form class="form-group" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button" class="btn btn-primary">Create</button>
    </form>
  </div>
{% endblock %}
