{% extends 'practica05/base.html' %}

{% block title %}Car Rent Details{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <td>{{ carrent.id }}</td>
        </tr>
        <tr>
          <th>Father surname</th>
          <td>{{ carrent.father_surname }}</td>
        </tr>
        <tr>
          <th>Mother surname</th>
          <td>{{ carrent.mother_surname }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ carrent.name }}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{ carrent.phone }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{ carrent.address }}</td>
        </tr>
        <tr>
          <th>City</th>
          <td>{{ carrent.city }}</td>
        </tr>
        <tr>
          <th>State</th>
          <td>{{ carrent.state }}</td>
        </tr>
        <tr>
          <th>ZIP</th>
          <td>{{ carrent.zip }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ carrent.email }}</td>
        </tr>
        <tr>
          <th>Car type</th>
          <td>{{ carrent.car_type }}</td>
        </tr>
        <tr>
          <th>Cars quantity</th>
          <td>{{ carrent.cars_quantity }}</td>
        </tr>
        <tr>
          <th>Drivers quantity</th>
          <td>{{ carrent.drivers_quantity }}</td>
        </tr>
        <tr>
          <th>Freigth type</th>
          <td>{{ carrent.freigth_type }}</td>
        </tr>
        <tr>
          <th>Area type</th>
          <td>{{ carrent.area_type }}</td>
        </tr>
        <tr>
          <th>International</th>
          <td>{{ carrent.international }}</td>
        </tr>
        <tr>
          <th>Insurence</th>
          <td>{{ carrent.insurance }}</td>
        </tr>
        <tr>
          <th>Liability limit</th>
          <td>{{ carrent.liability_limit }}</td>
        </tr>
        <tr>
          <th>Charge limit</th>
          <td>{{ carrent.charge_limit }}</td>
        </tr>
        <tr>
          <th>Extra information</th>
          <td>{{ carrent.extra_information }}</td>
        </tr>
        <tr>
          <th>Slug</th>
          <td>{{ carrent.slug }}</td>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'carrents_list' %}" class="btn btn-primary">Back</a>
</div>
<br>
{% endblock %}
