{% extends 'practica05/base.html' %}

{% block title %}Car Rents Indexs{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for carrent in carrents %}
        <tr>
          <th scope="row">{{ carrent.id }}</th>
          <td>{{ carrent.father_surname }} {{ carrent.mother_surname }} {{ carrent.name }}</td>
          <td>{{ carrent.email }}</td>
          <td>{{ carrent.phone }}</td>
          <td>
            <a href="{% url 'carrents_details' carrent.id %}">See details</a>&nbsp;|&nbsp;
            <a href="{% url 'carrents_update' carrent.id %}">Update</a>&nbsp;|&nbsp;
            <a href="{% url 'carrents_delete' carrent.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
