{% extends 'practica05/base.html' %}

{% block title %}Waste Reductions Indexs{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Initiative name</th>
        <th scope="col">Contact name</th>
        <th scope="col">Contact email</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for wastereduction in wastereductions %}
        <tr>
          <th scope="row">{{ wastereduction.id }}</th>
          <td>{{ wastereduction.initiative_name }}</td>
          <td>{{ wastereduction.contact_name }}</td>
          <td>{{ wastereduction.contact_email }}</td>
          <td><a href="{% url 'wastereductions_details' wastereduction.id %}">See details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
