{% extends 'practica05/base.html' %}

{% block title %}Job Applications Details{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <th>{{ jobapplication.id }}</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>{{ jobapplication.name }}</th>
        </tr>
        <tr>
          <th>Surnames</th>
          <th>{{ jobapplication.surnames }}</th>
        </tr>
        <tr>
          <th>Email</th>
          <th>{{ jobapplication.email }}</th>
        </tr>
        <tr>
          <th>Position</th>
          <th>{{ jobapplication.position }}</th>
        </tr>
        <tr>
          <th>Salary</th>
          <th>{{ jobapplication.salary }}</th>
        </tr>
        <tr>
          <th>Initiation date</th>
          <th>{{ jobapplication.initiation_date }}</th>
        </tr>
        <tr>
          <th>Phone</th>
          <th>{{ jobapplication.phone }}</th>
        </tr>
        <tr>
          <th>Telphone</th>
          <th>{{ jobapplication.telephone }}</th>
        </tr>
        <tr>
          <th>Relocalization</th>
          <th>{{ jobapplication.relocalization }}</th>
        </tr>
        <tr>
          <th>Last job company</th>
          <th>{{ jobapplication.company_last_job }}</th>
        </tr>
        <tr>
          <th>Refereces</th>
          <th>{{ jobapplication.references }}</th>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'jobapplications_list' %}" class="btn btn-primary">Back</a>
  <br>
</div>
{% endblock %}
