{% extends 'practica05/base.html' %}

{% block title %} IREQs List {% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Receptor</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for ireq in ireqs %}
        <tr>
          <th scope="row">{{ ireq.id }}</th>
          <td>{{ ireq.receptor }}</td>
          <td>{{ ireq.date }}</td>
          <td>{{ ireq.description }}</td>
          <td><a href="{% url 'ireqs_details' ireq.id %}">See details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
