{% extends 'practica05/base.html' %}

{% block title %}Student Details{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <td>{{ student.id }}</td>
        </tr>
        <tr>
          <th>Father surname</th>
          <td>{{ student.father_surname }}</td>
        </tr>
        <tr>
          <th>Mother surname</th>
          <td>{{ student.mother_surname }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ student.name }}</td>
        </tr>
        <tr>
          <th>CURP</th>
          <td>{{ student.CURP }}</td>
        </tr>
        <tr>
          <th>NSS</th>
          <td>{{ student.NSS }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ student.gender }}</td>
        </tr>
        <tr>
          <th>Birthday</th>
          <td>{{ student.Birthday }}</td>
        </tr>
        <tr>
          <th>Birth place</th>
          <td>{{ student.Birth_place }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ student.email }}</td>
        </tr>
        <tr>
          <th>Telephone</th>
          <td>{{ student.telephone }}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{ student.phone }}</td>
        </tr>
        <tr>
          <th>Addres</th>
          <td>{{ student.address }}</td>
        </tr>
        <tr>
          <th>Slug</th>
          <td>{{ student.slug }}</td>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'students_list' %}" class="btn btn-primary">Back</a>
</div>
<br>
{% endblock %}
