{% extends 'practica05/base.html' %}

{% block title %}CURP Delete{% endblock %}

{% block content %}
  <div class="container">
    <br>
    <div class="alert alert-warning" role="alert">
      <div class="font-weight-bold">{{ message }}</div>
    </div>
    {% if instance != '' %}
      <h3>Please, confirm to delete {{ instance }}</h3>
      <form class="form-group" method="POST">
        {% csrf_token %}
        <button type="submit" name="button" class="btn btn-danger">Delete</button> &nbsp; &nbsp;
        <a href="{% url 'curps_list' %}" class="btn btn-primary" role="button">Back</a>
      </form>
    {% else %}
      <a href="{% url 'curps_list' %}" class="btn btn-primary" role="button">Back</a>
    {% endif %}
  </div>
{% endblock %}
