{% extends 'practica05/base.html' %}

{% block title %}Birth Certificates Details{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <td>{{ curp.id }}</td>
        </tr>
        <tr>
          <th>Father surname</th>
          <td>{{ curp.father_surname }}</td>
        </tr>
        <tr>
          <th>Mother surname</th>
          <td>{{ curp.mother_surname }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ curp.name }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ curp.gender }}</td>
        </tr>
        <tr>
          <th>Birthday</th>
          <td>{{ curp.birthday_day }} {{ curp.birthday_month }} {{ curp.birthday_year }}</td>
        </tr>
        <tr>
          <th>State</th>
          <td>{{ curp.state }}</td>
        </tr>
        <tr>
          <th>Slug</th>
          <td>{{ curp.slug }}</td>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'curps_list' %}" class="btn btn-primary">Back</a>
</div>
<br>
{% endblock %}
