{% extends 'practica05/base.html' %}

{% block title %}Birth Certificates List{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for birthcertificate in birthcertificates%}
        <tr>
          <th scope="row">{{ birthcertificate.id }}</th>
          <td>{{ birthcertificate.father_surname }} {{ birthcertificate.mother_surname }} {{ birthcertificate.name }}</td>
          <td>{{ birthcertificate.email }}</td>
          <td>{{ birthcertificate.phone }}</td>
          <td><a href="{% url 'birthcertificates_details' birthcertificate.id %}">See details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
