{% extends 'practica05/base.html' %}

{% block title %}Checkouts List{% endblock %}

{% block content %}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">User email</th>
        <th scope="col">Card number</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
        <tr>
          <th scope="row">{{ checkout.id }}</th>
          <td>{{ checkout.username }}</td>
          <td>{{ checkout.email }}</td>
          <td>{{ checkout.card_number }}</td>
          <td>
            <a href="{% url 'checkouts_details' checkout.id %}">See details</a>&nbsp;|&nbsp;
            <a href="{% url 'checkouts_update' checkout.id %}">Update</a>&nbsp;|&nbsp;
            <a href="{% url 'checkouts_delete' checkout.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
