{% extends 'practica05/base.html' %}

{% block title %}Checkout Details{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <th>{{ checkout.id }}</th>
        </tr>
        <tr>
          <th>Username</th>
          <th>{{ checkout.username }}</th>
        </tr>
        <tr>
          <th>Email</th>
          <th>{{ checkout.email }}</th>
        </tr>
        <tr>
          <th>Address</th>
          <th>{{ checkout.address }}</th>
        </tr>
        <tr>
          <th>City</th>
          <th>{{ checkout.city }}</th>
        </tr>
        <tr>
          <th>state</th>
          <th>{{ checkout.state }}</th>
        </tr>
        <tr>
          <th>ZIP</th>
          <th>{{ checkout.zip }}</th>
        </tr>
        <tr>
          <th>Name in card</th>
          <th>{{ checkout.card_name }}</th>
        </tr>
        <tr>
          <th>Card number</th>
          <th>{{ checkout.card_number }}</th>
        </tr>
        <tr>
          <th>Card exp month</th>
          <th>{{ checkout.card_exp_month }}</th>
        </tr>
        <tr>
          <th>Card exp year</th>
          <th>{{ checkout.card_exp_year }}</th>
        </tr>
        <tr>
          <th>Card security code</th>
          <th>{{ checkout.card_security_code }}</th>
        </tr>
        <tr>
          <th>Slug</th>
          <th>{{ checkout.slug }}</th>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'checkouts_list' %}" class="btn btn-primary">Back</a>
</div>
<br>
{% endblock %}
