{% extends 'practica05/base.html' %}

{% block title %} IREQs Details {% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <th>{{ ireq.id }}</th>
        </tr>
        <tr>
          <th>Receptor</th>
          <th>{{ ireq.receptor }}</th>
        </tr>
        <tr>
          <th>Ship type</th>
          <th>{{ ireq.ship_type }}</th>
        </tr>
        <tr>
          <th>Supplier</th>
          <th>{{ ireq.supplier }}</th>
        </tr>
        <tr>
          <th>Business unit</th>
          <th>{{ ireq.business_unit }}</th>
        </tr>
        <tr>
          <th>Account</th>
          <th>{{ ireq.account }}</th>
        </tr>
        <tr>
          <th>Currency</th>
          <th>{{ ireq.currency }}</th>
        </tr>
        <tr>
          <th>Date</th>
          <th>{{ ireq.date }}</th>
        </tr>
        <tr>
          <th>Description</th>
          <th>{{ ireq.description }}</th>
        </tr>
        <tr>
          <th>Slug</th>
          <th>{{ ireq.slug }}</th>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'ireqs_list' %}" class="btn btn-primary">Back</a>
  <br/>
</div>
{% endblock %}
