{% extends 'practica05/base.html' %}

{% block title %} Suggestion Details {% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <th>{{ suggestion.id }}</th>
        </tr>
        <tr>
          <th>User name</th>
          <th>{{ suggestion.name }}</th>
        </tr>
        <tr>
          <th>User email</th>
          <th>{{ suggestion.email }}</th>
        </tr>
        <tr>
          <th>Company</th>
          <th>{{ suggestion.company }}</th>
        </tr>
        <tr>
          <th>Phone</th>
          <th>{{ suggestion.phone }}</th>
        </tr>
        <tr>
          <th>Subject</th>
          <th>{{ suggestion.subject }}</th>
        </tr>
        <tr>
          <th>Message</th>
          <th>{{ suggestion.message }}</th>
        </tr>
        <tr>
          <th>CC</th>
          <th>{{ suggestion.cc }}</th>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'suggestions_list' %}" class="btn btn-primary">Back</a>
</div>
{% endblock %}
