{% extends 'practica05/base.html' %}

{% block title %}Birth Certificates Details{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <td>{{ birthcertificate.id }}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{ birthcertificate.type }}</td>
        </tr>
        <tr>
          <th>Justification</th>
          <td>{{ birthcertificate.justification }}</td>
        </tr>
        <tr>
          <th>Father surname</th>
          <td>{{ birthcertificate.father_surname }}</td>
        </tr>
        <tr>
          <th>Mother surname</th>
          <td>{{ birthcertificate.mother_surname }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ birthcertificate.name }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ birthcertificate.gender }}</td>
        </tr>
        <tr>
          <th>Birthday</th>
          <td>{{ birthcertificate.birthday_day }} {{ birthcertificate.birthday_month }} {{ birthcertificate.birthday_year }}</td>
        </tr>
        <tr>
          <th>State</th>
          <td>{{ birthcertificate.state }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ birthcertificate.email }}</td>
        </tr>
        <tr>
          <th>Copies</th>
          <td>{{ birthcertificate.copies }}</td>
        </tr>
        <tr>
          <th>Telphone</th>
          <td>{{ birthcertificate.telephone }}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{ birthcertificate.phone }}</td>
        </tr>
        <tr>
          <th>Addres</th>
          <td>{{ birthcertificate.address }}</td>
        </tr>
        <tr>
          <th>Slug</th>
          <td>{{ birthcertificate.slug }}</td>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'birthcertificates_list' %}" class="btn btn-primary">Back</a>
</div>
<br>
{% endblock %}
