{% extends 'practica05/base.html' %}

{% block title %}Students List{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">CURP</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.father_surname }} {{ student.mother_surname }} {{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.CURP }}</td>
          <td><a href="{% url 'students_details' student.id %}">See details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
