{% extends 'practica05/base.html' %}

{% block title %} Checkouts List {% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">User email</th>
        <th scope="col">Suggestion type</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for suggestion in suggestions %}
        <tr>
          <th scope="row">{{ suggestion.id }}</th>
          <td>{{ suggestion.name }}</td>
          <td>{{ suggestion.email }}</td>
          <td>{{ suggestion.subject }}</td>
          <td>
            <a href="{% url 'suggestions_details' suggestion.id %}">See details</a>&nbsp;|&nbsp;
            <a href="{% url 'suggestions_update' suggestion.id %}">Update</a>&nbsp;|&nbsp;
            <a href="{% url 'suggestions_delete' suggestion.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
