{% extends 'practica05/base.html' %}

{% block title %}Job Applications{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Position</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for jobapplication in jobapplications %}
        <tr>
          <th scope="row">{{ jobapplication.id }}</th>
          <td>{{ jobapplication.name }} {{ jobapplication.surnames }}</td>
          <td>{{ jobapplication.phone }}</td>
          <td>{{ jobapplication.email }}</td>
          <td>{{ jobapplication.position }}</td>
          <td><a href="{% url 'jobapplications_details' jobapplication.id %}">See details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
