{% extends 'practica05/base.html' %}

{% block title %}Students List{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Birthday</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for curp in curps %}
        <tr>
          <th scope="row">{{ curp.id }}</th>
          <td>{{ curp.father_surname }} {{ curp.mother_surname }} {{ curp.name }}</td>
          <td>{{ curp.gender }}</td>
          <td>{{ curp.birthday_day }}/{{ curp.birthday_month }}/{{ curp.birthday_year }}</td>
          <td>
            <a href="{% url 'curps_details' curp.id %}">See details</a>&nbsp;|&nbsp;
            <a href="{% url 'curps_update' curp.id %}">Update</a>&nbsp;|&nbsp;
            <a href="{% url 'curps_delete' curp.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
