{% extends 'practica05/base.html' %}

{% block title %}Waste Reductions List{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <th>{{ wastereduction.id }}</th>
        </tr>
        <tr>
          <th>Company</th>
          <th>{{ wastereduction.company }}</th>
        </tr>
        <tr>
          <th>Company type</th>
          <th>{{ wastereduction.company_type }}</th>
        </tr>
        <tr>
          <th>Initiative name</th>
          <th>{{ wastereduction.initiative_name }}</th>
        </tr>
        <tr>
          <th>Start date</th>
          <th>{{ wastereduction.start_date }}</th>
        </tr>
        <tr>
          <th>Geography scope</th>
          <th>{{ wastereduction.geographic_scope }}</th>
        </tr>
        <tr>
          <th>State</th>
          <th>{{ wastereduction.state }}</th>
        </tr>
        <tr>
          <th>Locality</th>
          <th>{{ wastereduction.locality }}</th>
        </tr>
        <tr>
          <th>Work axes</th>
          <th>{{ wastereduction.work_axes }}</th>
        </tr>
        <tr>
          <th>Sector</th>
          <th>{{ wastereduction.sector }}</th>
        </tr>
        <tr>
          <th>Resume</th>
          <th>{{ wastereduction.resume }}</th>
        </tr>
        <tr>
          <th>In action</th>
          <th>{{ wastereduction.in_action }}</th>
        </tr>
        <tr>
          <th>Number of beneficiaries</th>
          <th>{{ wastereduction.number_of_beneficiaries }}</th>
        </tr>
        <tr>
          <th>Contact name</th>
          <th>{{ wastereduction.contact_name }}</th>
        </tr>
        <tr>
          <th>Contact email</th>
          <th>{{ wastereduction.contact_email }}</th>
        </tr>
        <tr>
          <th>Action plan file</th>
          <th>{{ wastereduction.action_plan_file }}</th>
        </tr>
        <tr>
          <th>Spread</th>
          <th>{{ wastereduction.spread }}</th>
        </tr>
        <tr>
          <th>Slug</th>
          <th>{{ wastereduction.slug }}</th>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'wastereductions_list' %}" class="btn btn-primary">Back</a>
</div>
<br>
{% endblock %}
