{% extends 'practica05/base.html' %}

{% block title %}user Details{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Id</th>
          <td>{{ user.id }}</td>
        </tr>
        <tr>
          <th>Father surname</th>
          <td>{{ user.father_surname }}</td>
        </tr>
        <tr>
          <th>Mother surname</th>
          <td>{{ user.mother_surname }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ user.gender }}</td>
        </tr>
        <tr>
          <th>Birthday</th>
          <td>{{ user.birthday_day }} {{ user.birthday_month }} {{ user.birthday_year }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>Password</th>
          <td>{{ user.password }}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{ user.phone }}</td>
        </tr>
        <tr>
        <tr>
          <th>Slug</th>
          <td>{{ user.slug }}</td>
        </tr>
    </tbody>
  </table>
  <a href="{% url 'users_list' %}" class="btn btn-primary">Back</a>
</div>
<br>
{% endblock %}
